@font-face {
  font-family: "made sunflower";
  src: url(fonts/madesunflower.otf)  format("opentype");
}
@font-face {
  font-family: "lucida fax";
  src: url(fonts/lucidafax.ttf)  format('truetype');
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "lucida fax";
  color: #5a753b;
}
.form{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 3px solid #5a753b;
  border-radius: 10px;
  background-color: #e5d8cf;
}
.title-page{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #5a753b;
}
.shop-name{
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.sub-header{
  padding-bottom: 10px;
  margin-top:-20px;
}
.tab-content{
  display: flex;
  padding: 10px;
}
#signup, #login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 10px;
}
#signup{
  border-right: 3px solid #5a753b;
}
.form-content{
  display: flex;
  flex-direction: column;
}
h1{
  font-family: "made sunflower";
}
input{
  width: 300px;
  background-color: #e5d8cf;
  color: #5a753b;
  margin: 10px;
  border: none;
  padding: 10px;
  border-bottom: 3px solid #5a753b;
  font-size: 20px;
  font-family: "lucida fax";
}
.forget{
  text-align: center;
  text-decoration: none;
  margin: 10px;
  color: #5a753b;
  font-size: 20px;
}
.btn{
  width: 220px;
  padding: 5px 10px;
  text-align: center;
  background-color: #5a753b;
  color: white;
  border: none;
  margin: 20px 10px;
  cursor: pointer;
  font-size: 20px;
  outline: 2px solid #5a753b;
  outline-offset: 5px;
  font-family: "lucida fax";
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .tab-content{
    flex-direction: column;
  }
  #signup{
    border-right: none;
    border-bottom: 3px solid #5a753b;
  }
  }
