@font-face {
    font-family: "made sunflower";
    src: url(fonts/madesunflower.otf)  format("opentype");
}
@font-face {
    font-family: "lucida fax";
    src: url(fonts/lucidafax.ttf)  format('truetype');
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img{
    align-self: center;
}
#top{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}
#page-title{
    font: 60px "made sunflower";
    color: #5a753b;
    margin-bottom: 5px;
    margin-left: 30px;
}
#sub-title{
    font:italic 20px "lucida fax";
    color: #5a753b;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 30px;
}
.text-details{
    color: #5a753b;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 50%;
}
.sub-heading{
    font: 20px "made sunflower";
    opacity: .7;
    padding: 0;
    margin: 0;
}
.title-heading{
    font: 50px "made sunflower";
    padding: 0;
    margin: 0;
}
.details{
    font: 20px "lucida fax";
    padding: 10px 40px;
}
.more-details{
    font: 20px "lucida fax";
    padding: 10px 40px;
    color: white;
    border: none;
    text-align: center;
    background-color: #5a753b;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    outline: 4px solid #5a753b;
    outline-offset: 5px;
    cursor: pointer;
}
.body-image{
    width: 700px;
    height: 350px;
    object-fit: cover;
    margin: 10px 150px;
}
@media only screen and (max-width: 1000px) {
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin: 20px;
    }
    .reverse{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin: 20px;
    }
    .more-details{
        width: 80%;
    }
    .details{
        padding: 10px;
    }.text-details{
        width: 80%;
    }
    .body-image{
        padding-top: 20px;
        margin:20px 0;
    }
    }

