@font-face {
    font-family: "made sunflower";
    src: url(fonts/madesunflower.otf)  format("opentype");
}
@font-face {
    font-family: "lucida fax";
    src: url(fonts/lucidafax.ttf)  format('truetype');
}
body{
    margin: 0;
    padding: 0;
}
.icons{
    filter: invert(40%) sepia(66%) saturate(311%) hue-rotate(45deg) brightness(90%) contrast(88%);
    margin: 10px;
}
.header{
    background-color: #e5d8cf;
    width: 100%;
    font-family: "lucida fax";
    color: #5a753b;
    position: sticky;
    flex-wrap:nowrap;
    z-index: 99;
    box-shadow: 0px 15px 10px -10px #111;    
    margin-bottom: 20px;
}
.shop-name{
    font-size: 30px;
    margin-top: 30px;
}
.sub-header{
    padding-bottom: 10px;
    margin-top:-20px;

}
.announcements{
    font-size: 20px;
    padding: 10px 50px;
    text-align: center;
    width: 300px;
    border: 3px solid #5a753b;
}
.login-label{
    padding-left: 70px;
    font: 20px "lucida fax";
    flex-grow: 1;
} 
.items{
    margin: 30px;
    text-decoration: none;
    color: #5a753b;
    font-size: 20px;
}
.division{
    font: 50px "lucida fax";
    margin: 10px;
}
#login-link{
    text-decoration: none;
    color: #5a753b;
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    .lower-top{
        display: inline-block;
        overflow-x: auto;
    }
    .announcements{
        display: none;
    }
    #lower-side{
        display: none !important;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    }