@font-face {
    font-family: "made sunflower";
    src: url(fonts/madesunflower.otf)  format("opentype");
}
@font-face {
    font-family: "lucida fax";
    src: url(fonts/lucidafax.ttf)  format('truetype');
}
body{
    margin: 0;
    padding: 0;
}
img{
    align-self: center;
}
#top{
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
}
.news{
    background-color: white; 
    opacity: 0.9;
    font-family: "lucida fax";
    color: #5a753b;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    display: flex;
    padding: 50px;
    width: 35%;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: flex-end;
}
#upper-news{
    font: 30px "lucida fax";
    padding: 0;
    margin: 0;
    opacity:1;
}
#news-title{
    font: 80px "made sunflower";
    text-align: right;
    padding: 0;
    margin: 0;
}
#news-details{
    font: 30px "lucida fax";
    text-align: right;
}
#last-news{
    font: italic 20px "lucida fax";
    padding-bottom: 0;
    margin-bottom: 0;
}
.container{
    background-color: black; 
    opacity: 0.7;
    margin: 20px;
    height: 92%;
    text-align: center;
}
.container>p{
    color: white;
    opacity: 1;
    font: 30px "lucida fax";
    padding: 10px;
}
.container-content{
    margin-top: 20%;
    margin-left: 100px;
    margin-right: 100px;
}
@media only screen and (max-width: 1000px) {
    .mission-vision{
        flex-direction: column;
    }
    #news-container{
        justify-content: center;
    }
    #upper-news{
        font-size: 20px;
    }
    #news-title{
        font-size: 50px;
    }
    #news-details{
        font-size: 20px;
    }
    #last-news{
        font-size: 15px;
    }
    .container>p{
        font-size: 25px;
    }
    .news{
        width: 60%;
    }  
}
