@font-face {
    font-family: "made sunflower";
    src: url(fonts/madesunflower.otf)  format("opentype");
}
@font-face {
    font-family: "lucida fax";
    src: url(fonts/lucidafax.ttf)  format('truetype');
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#top{
    position: sticky;
    top: 0;
    z-index: 99;
}
.divider{
    width: 100%; 
    padding: 20px;
    display: flex; 
    text-align: center;
    flex-direction: column;
    border-bottom: 3px solid #5a753b;
}
#page-title{
    padding-top: 10px;
    margin: 0;
    color: #5a753b;
    font: 60px "made sunflower"
}
.sub{
    color: #5a753b;
    font: italic 20px "lucida fax";
    margin: auto;
    width: 40%;
}
#categories{
    flex: 1 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #5a753b;
}
#contents{
    flex: 3 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
}

.content-products{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.products{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-image{
    width: 400px;
    height: 400px;
    border: 3px solid #5a753b;
    padding: 5px;
}
.product-name{
    font: bold 20px "lucida fax";
    color: #5a753b;
}
.btn{
    padding: 10px;
    font: 20px "ludcida fax";
    width: 100%;
    color: #5a753b;
    background-color: white;
    border: 3px solid #5a753b;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
#categories{
    display: none;
}
.content-products{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
}